@use "../abstracts/mixins";

/// 기본 btn-container와 btn 스타일
.btn_container {
  margin: 30px 10px;
  @include mixins.flex-row(center, center);

  .btn {
    padding: 10px;
    background-color: rgb(26, 120, 214);
    border: 1px solid rgb(26, 120, 214);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: rgb(37, 147, 255);
    }

    &.btn--favorite {
      background-color: rgb(201, 33, 131);
      border: 1px solid rgb(201, 33, 131);

      &:hover {
        background-color: rgb(235, 52, 159);
      }
    }

    &.btn__remove {
      background-color: rgb(186, 35, 53);
      border: 1px solid rgb(186, 35, 53);

      &:hover {
        background-color: rgb(225, 60, 80);
      }
    }
  }
}

/// profile 페이지에서만 사용
.profile_favorite {
  .btn_container {
    margin: 10px;
  }
}
