@use "../../styles/abstracts/mixins";
@use "../../styles/abstracts/variables";

/// default skeleton
.skeleton {
  margin: 0 auto;
  border-radius: 10px;
  background: linear-gradient(90deg, #222 25%, #333 50%, #222 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;

  &.image_skeleton {
    height: 300px;
    width: 230px;
  }

  &.title_skeleton {
    height: 50px;
  }

  &.text_skeleton {
    height: 30px;
  }
}

.movie_list,
.search_result_list,
.movie_info {
  @include mixins.flex-row-gap(center, center, 20px);
  @include mixins.flex-wrap;

  .movie_item {
    @include mixins.flex-column-gap($gap: 10px);
    width: 250px;
    height: 390px;
    border-radius: 4px;

    .text_skeleton {
      width: 230px;
      height: 75px;
    }
  }
}

/// reco, upcoming movie skeleton
.movies_skeleton {
  border-top: 1px solid variables.$border-gray-color;
  padding: 10px;

  @include mixins.light-mode {
    border-color: variables.$border-dark-color;
  }

  .title_skeleton {
    margin: 10px 10px 0;
  }

  .movie_list {
    gap: 30px;
    margin-top: 20px;
  }
}

/// search-result skeleton
.search_result_list {
  margin: 50px auto 30px;
}

/// movie-detail skeleton
.movie_detail {
  padding: 10px;

  .movie_info {
    justify-content: space-between;
    margin-bottom: 20px;

    @include mixins.md-mode {
      flex-wrap: nowrap;
      flex-direction: column;
    }

    .movie_info_list {
      .text_skeleton {
        width: 65vw;
        height: 420px;
        margin: 0;

        @include mixins.lg-mode {
          width: 55vw;
        }

        @include mixins.md-mode {
          width: 97vw;
          height: 220px;
        }

        @include mixins.sm-mode {
          width: 96vw;
        }

        @include mixins.xs-mode {
          width: 95vw;
        }

        @include mixins.xxs-mode {
          width: 94vw;
        }
      }
    }

    .image_skeleton {
      margin: 0;
      width: 30vw;
      height: 420px;

      @include mixins.lg-mode {
        width: 40vw;
      }

      @include mixins.md-mode {
        width: 350px;
        height: 420px;
      }

      @include mixins.xs-mode {
        width: 280px;
        height: 350px;
      }

      @include mixins.xxs-mode {
        width: 220px;
        height: 320px;
      }
    }
  }

  .movie_award {
    margin-bottom: 30px;
    .text_skeleton {
      height: 100px;
    }
  }

  .text_skeleton {
    height: 300px;
  }
}

/// profile skeleton
.profile {
  margin: 30px 0 50px;
  padding: 10px;

  .title_skeleton {
    margin: 10px 10px 20px;
  }

  .profile_list {
    margin-bottom: 50px;

    .profile_item {
      .text_skeleton {
        margin: 10px 10px 0;
        height: 40px;
      }
    }
  }

  .movies_skeleton {
    border: none;
    padding: 0;
  }
}

@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
