@use "../../styles/abstracts/mixins";
@use "../../styles/abstracts/variables";

.article {
  margin-top: 30px;
  padding: 10px;

  .title {
    padding: 10px;
    font-size: 24px;
    background-color: variables.$bg-gray-color;
    color: variables.$text-light-color;
    margin: 0 10px;
  }

  .favorite_section {
    @include mixins.flex-row-gap($align: center, $gap: 20px);
    @include mixins.flex-wrap;

    @include mixins.lg-mode {
      justify-content: center;
    }

    .none_favorite {
      margin: 20px 10px 10px;
      font-size: 22px;
      text-align: center;
      width: 100%;
    }

    .movie_article {
      border: 1px solid variables.$border-favorite-color;
      border-radius: 5px;
      overflow: hidden;
      @include mixins.flex-column(space-evenly, center);
      margin: 10px;
      height: 450px;

      .movie_page_link {
        cursor: pointer;

        .movie_title {
          padding: 10px;
          text-align: center;
          color: variables.$text-dark-color;
          @include mixins.wordBreakKeepAll;
          max-width: 230px;
        }
      }
    }
  }
}
