@use "../../styles/abstracts/mixins";
@use "../../styles/abstracts/variables";

.article {
  margin: 10px;
  padding: 10px;

  .title {
    padding: 10px;
    font-size: 24px;
    background-color: variables.$bg-gray-color;
    color: variables.$text-light-color;
    margin-bottom: 20px;
  }

  .form {
    padding: 10px;
    border: 1px solid;

    .container {
      padding: 10px;
      margin: 35px 0;
      border: 1px solid;
      border-left: none;
      border-right: none;
      @include mixins.flex-row-gap($gap: 10px);

      @include mixins.sm-mode {
        @include mixins.flex-column-gap;
      }

      &:first-child {
        margin-top: 10px;
      }

      &.container_read {
        margin-bottom: 10px;
      }

      .label_container {
        width: 90px;
        padding: 10px 0;
        text-align: center;
        font-weight: 700;

        @include mixins.sm-mode {
          text-align: left;
        }
      }

      .input_container {
        width: 300px;
        padding: 10px;
        background-color: variables.$bg-light-color;
        border-radius: 2px;

        input {
          background-color: variables.$bg-light-color;
          border: none;
          width: 90%;
          outline: none;
        }

        &.pwd_container {
          @include mixins.pwd-container;

          input {
            width: 85%;

            @include mixins.xxs-mode {
              width: 80%;
            }
          }
        }

        @include mixins.xs-mode {
          width: 250px;
        }

        @include mixins.xxs-mode {
          width: 200px;
        }
      }
    }
  }
}
