@use "../../styles/abstracts/mixins";

.section {
  position: relative;

  .user_info {
    @include mixins.flex-row(center, center);
    width: 60px;

    .user_icon {
      background-color: #e9e5e5;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 16px 0 #e9e5e5;
      }
    }
  }

  .nav {
    position: absolute;
    top: 45px;
    right: 20px;

    .nav_list {
      background-color: #e9e5e5;
      border-radius: 4px;

      .nav_item {
        width: 110px;
        border-bottom: 1px solid #000;

        &:last-child {
          border-bottom: none;
        }

        .nav_link {
          padding: 5px;
          width: 100%;
          display: inline-block;
          text-align: center;
          border: none;
          background-color: transparent;
          font-size: 16px;
          cursor: pointer;
          border-radius: 4px;
          transition: 0.2s;

          &:hover {
            background-color: #fff;
            color: rgb(37, 147, 255);
          }
        }
      }
    }
  }
}
