@use "variables";

// system mode
@mixin dark-mode {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin light-mode {
  @media (prefers-color-scheme: light) {
    @content;
  }
}

// responsive
// 1200px 미만
@mixin xl-mode {
  @media (max-width: variables.$breakpoint-xl) {
    @content;
  }
}

// 992px 미만
@mixin lg-mode {
  @media (max-width: variables.$breakpoint-lg) {
    @content;
  }
}

// 768px 미만
@mixin md-mode {
  @media (max-width: variables.$breakpoint-md) {
    @content;
  }
}

// 576px 미만
@mixin sm-mode {
  @media (max-width: variables.$breakpoint-sm) {
    @content;
  }
}

// 414px 미만
@mixin xs-mode {
  @media (max-width: variables.$breakpoint-xs) {
    @content;
  }
}

// 360px 미만
@mixin xxs-mode {
  @media (max-width: variables.$breakpoint-xxs) {
    @content;
  }
}

// flex
@mixin flex-row($justify: normal, $align: normal) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-row-gap($justify: normal, $align: normal, $gap: 0) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin flex-column($justify: normal, $align: normal) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-column-gap($justify: normal, $align: normal, $gap: 0) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin flex-wrap() {
  flex-wrap: wrap;
}

// text
@mixin wordBreakKeepAll {
  word-break: keep-all;
}

// pwd
@mixin pwd-container {
  position: relative;

  .show_pwd {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 2px;
    cursor: pointer;
  }
}
