// * breakpoint(max-width)
$breakpoint-xl: 1199px; // 1200px 미만 -> 초대형 화면 (대형 데스크탑)
$breakpoint-lg: 991px; // 992px 미만 -> 큰 화면 (데스크탑)
$breakpoint-md: 767px; // 768px 미만 -> 중간 화면 (태블릿)
$breakpoint-sm: 575px; // 576px 미만 -> 작은 화면 (모바일)
$breakpoint-xs: 414px; // 414px 미만 -> 일반 스마트폰
$breakpoint-xxs: 360px; // 360px 미만 -> 소형 스마트폰
