@use "abstracts/mixins";
@use "abstracts/variables";
@use "base/reset";
@use "components/button";

// FIXME: 반응형 CSS 작성 - profile, signin, signup
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    margin-top: 60px;
    flex: 1;
  }
}
