@use "abstracts/mixins";
@use "abstracts/variables";
@use "base/reset";
@use "components/button";

.wrapper {
  @include mixins.flex-column;
  min-height: 100vh;

  main {
    margin-top: 60px;
    flex: 1;
  }
}
