@use "../../styles/abstracts/mixins";
@use "../../styles/abstracts/variables";

.footer {
  @include mixins.flex-row(space-between, center);
  background-color: rgba(40, 44, 52, 0.9);
  color: #e9e5e5;
  padding: 10px 10px 20px;

  @include mixins.md-mode {
    @include mixins.flex-wrap;
    gap: 30px;
  }

  a {
    color: variables.$text-gray-color;

    &:hover {
      color: variables.$hover-primary-color;
    }
  }

  .footer_info,
  .footer_my_info,
  .footer_links {
    @include mixins.flex-column-gap($gap: 10px);
  }

  .footer_info {
    a {
      border-bottom: 1px solid;
    }
  }

  .footer_links {
    .footer_link_item {
      @include mixins.flex-row-gap($align: center, $gap: 5px);

      &::before {
        display: inline-block;
        content: "";
        width: 6px;
        height: 6px;
        background-color: variables.$hover-bg-gray-color;
        border-radius: 50%;
      }
    }
  }
}
