@use "../../styles/abstracts/mixins";

.header {
  @include mixins.flex-row(space-between, center);
  background-color: rgba(40, 44, 52, 0.9);
  color: #e9e5e5;
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 10px;
  z-index: 999;

  .logo {
    .link_home {
      @include mixins.flex-row($align: center);
      color: #e9e5e5;
      font-style: italic;
      transition: 0.2s;
      padding: 5px;

      &:hover {
        color: #e9e5e5;
        box-shadow: 3px 3px 4px #e9e5e5;
      }

      .logo_img {
        display: inline-block;
        width: 50px;
        height: 30px;
        background-image: url("/logo.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
      }

      .logo_text {
        transform: translateX(-7px);
      }
    }
  }

  .link_container {
    @include mixins.flex-row-gap($gap: 10px);
    transition: 0.2s;

    .link_auth {
      color: #e9e5e5;
      padding: 5px;

      &:hover {
        background-color: #e9e5e5;
        color: #282c34;
        border-radius: 4px;
      }
    }
  }
}
