@use "../../styles/abstracts/mixins";
@use "../../styles/abstracts/variables";

.policy_nav {
  margin: 20px;

  .policy_link_list {
    @include mixins.flex-row;

    @include mixins.xxs-mode {
      @include mixins.flex-wrap;
      justify-content: center;
    }

    .policy_link_item {
      border: 1px solid variables.$border-gray-color;
      margin-right: -1px;

      @include mixins.xxs-mode {
        margin-right: 0px;
        margin-bottom: -1px;
      }

      .policy_link {
        padding: 15px;
        display: inline-block;
        width: 150px;
        max-width: 180px;
        text-align: center;
        color: variables.$text-dark-color;
        transition: 0.2s;

        &:hover {
          background-color: #ccc;
          color: variables.$text-light-color;
        }
      }

      &:has(.active) {
        border-color: #007bff;
        z-index: 10;
      }
    }
  }
}
