.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.modal {
  width: 80%;
  overflow-y: auto;
  max-width: 500px;
  margin: 20px auto;
  border-radius: 5px;
  border: none;

  /* 배경 속성 */
  &::backdrop {
    background: rgba(0, 0, 0, 0.7);
  }
}
