@use "../../styles/abstracts/mixins";

.article {
  margin: 20px auto 0;
  max-width: 500px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #fff;

  @include mixins.sm-mode {
    max-width: 400px;
  }

  @include mixins.xs-mode {
    max-width: 300px;
  }

  @include mixins.xxs-mode {
    max-width: 200px;
  }

  .container {
    position: relative;

    .movie {
      display: inline-block;
      width: 100%;
      height: 46px;
      padding: 15px;
      border-radius: 5px;
      border: 1px solid #fff;
      outline: none;
      font-size: 16px;

      &.border_none {
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &.border {
        border-bottom: 1px solid #fff;
      }

      @include mixins.xs-mode {
        font-size: 15px;
      }

      @include mixins.xxs-mode {
        font-size: 14px;
      }
    }
  }

  &:has(.border_none) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
