@use "../../styles/abstracts/mixins";

.movie_section {
  padding: 20px;
  border: 1px solid;
  border-radius: 4px;
  margin: 10px;

  .movie_info {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;

    @include mixins.md-mode {
      flex-wrap: nowrap;
      flex-direction: column;
    }

    .movie_info_list {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .movie_poster {
      @include mixins.md-mode {
        margin: auto;
      }
    }
  }

  .movie_plot {
    border: 1px solid;
    border-radius: 4px;
    padding: 20px;

    .movie_plot_title {
      font-weight: 600;
      margin-bottom: 20px;
    }

    .movie_plot_content {
      line-height: 1.7;

      @include mixins.xs-mode {
        font-size: 15px;
      }

      @include mixins.xxs-mode {
        font-size: 14px;
      }
    }
  }
}
