.movie_section {
  width: 100%;
  padding: 20px;
  border-radius: 4px;

  // FIXME: scss 수정 필요
  .movie_info {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;

    .movie_poster,
    .movie_info_list {
    }

    .movie_poster {
      .movie_poster_img {
        display: inline-block;
        margin: auto;
        width: 100%;
        height: 500px;
      }
    }

    .movie_info_list {
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-size: 17px;

      .movie_info_item {
        &.movie_info_title {
          font-weight: 700;
          word-break: keep-all;
        }
      }
    }
  }
}
