.list_item {
  width: 400px;
  border: 1px solid;
  padding: 10px;
  border-radius: 4px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;

  .title {
  }

  .open_date {
  }

  .genre {
  }

  .director {
  }
}
