.movies_item {
  width: 250px;
  padding: 10px;
  height: 450px;
  // border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: #ccc;
    color: #000;
  }

  .movie_info_list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .movie_info_item {
      &.movie_info_title {
        font-weight: 700;
        word-break: keep-all;
      }
    }
  }
}
