@use "../../styles/abstracts/mixins";

.movies_item {
  @include mixins.flex-column-gap($gap: 10px);
  width: 250px;
  padding: 10px;
  height: 450px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;

  @include mixins.hover-default;

  a {
    color: inherit;

    .movie_info_list {
      @include mixins.flex-column-gap($gap: 5px);

      .movie_info_item {
        &.movie_info_title {
          font-weight: 700;
          @include mixins.wordBreakKeepAll;
        }
      }
    }
  }
}
