@use "../../styles/abstracts/mixins";

.movie_info_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 17px;
  padding: 15px;

  @include mixins.xs-mode {
    font-size: 15px;
  }

  @include mixins.xxs-mode {
    font-size: 14px;
  }

  .movie_info_item {
    &.movie_info_title {
      font-size: 20px;
      font-weight: 700;
      word-break: keep-all;

      @include mixins.xs-mode {
        font-size: 18px;
      }

      @include mixins.xxs-mode {
        font-size: 16px;
      }
    }
  }
}
