@use "../../styles/abstracts/mixins";
@use "../../styles/abstracts/variables";

.movie_award {
  margin: 10px 0 30px;

  .award_title {
    font-weight: 600;
    margin-bottom: 10px;
  }

  .award_list {
    @include mixins.flex-row-gap(space-between, center, 10px);
    @include mixins.flex-wrap;

    .award_item {
      margin-left: 10px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 5px;
        background-color: variables.$bg-light-color;
        border-radius: 50%;
        top: 5px;
        left: -10px;

        @include mixins.light-mode {
          background-color: variables.$bg-dark-color;
        }
      }
    }
  }
}
