@use "../../styles/abstracts/mixins";

.poster_wrapper {
  position: relative;
  width: 230px;
  height: 300px;
  margin-bottom: 5px;

  &.detail_poster {
    width: 350px;
    height: 450px;

    @include mixins.xs-mode {
      width: 280px;
      height: 350px;
    }

    @include mixins.xxs-mode {
      width: 220px;
      height: 320px;
    }
  }
}
