@use "../../styles/abstracts/mixins";

.form_container {
  @include mixins.flex-column($justify: space-evenly);
  width: 450px;
  height: 500px;

  @include mixins.lg-mode {
    width: 365px;
  }

  @include mixins.md-mode {
    width: 280px;
  }

  @include mixins.sm-mode {
    padding: 20px;
    width: 300px;
    margin: auto;
  }

  @include mixins.xxs-mode {
    width: 250px;
  }

  .title {
    text-align: center;
    @include mixins.wordBreakKeepAll;
    font-size: 30px;

    @include mixins.lg-mode {
      font-size: 25px;
    }

    @include mixins.md-mode {
      font-size: 22px;
    }
  }

  .form {
    padding-top: 20px;
    @include mixins.flex-column-gap(center, center, 20px);

    .container {
      @include mixins.flex-row(center, center);

      @include mixins.md-mode {
        flex-direction: column;
        align-items: baseline;
      }

      .label_container {
        width: 90px;
        padding: 10px 0;

        label {
          @include mixins.sm-mode {
            font-weight: 700;
            box-shadow: 3px 1px 4px 3px rgba(0, 0, 0, $alpha: 0.7);
            background: linear-gradient(0.25turn, #062e91, #9198e5);
            padding: 2px 5px;
          }
        }
      }

      .input_container {
        width: 300px;
        padding: 10px;
        background-color: #fff;
        border-radius: 2px;

        &.pwd_container {
          @include mixins.pwd-container;
        }

        input {
          background-color: #fff;
          border: none;
          width: 90%;
          outline: none;
        }

        @include mixins.lg-mode {
          width: 250px;
        }

        @include mixins.xxs-mode {
          width: 200px;
        }
      }
    }
  }
}
