.signin_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 20px;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    .label_container {
      width: 90px;
      padding: 10px 0;
    }

    .input_container {
      width: 300px;
      padding: 10px;
      background-color: #fff;
      border-radius: 2px;

      &.pwd_container {
        position: relative;

        .show_pwd {
          position: absolute;
          top: 8px;
          right: 8px;
          padding: 2px;
          cursor: pointer;
        }
      }

      input {
        background-color: #fff;
        border: none;
        width: 90%;
        outline: none;
      }
    }
  }
}
